.about {
   display: flex;
   flex-direction: column;
  text-align: center;
   justify-content: center;
   gap: 80px;
   margin: 80px 170px;
}


.about h1{
 text-align: center;
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
